body {
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

h1, .stat-number {
	font-family: 'Inter', sans-serif;
	color:  hsl(0, 0%, 100%);
	font-weight: 700;
}

.card {
	background-color: hsl(244, 38%, 16%);
	border-radius: 10px;
	box-shadow: 10px black;
	overflow: hidden;
	max-width: 350px;
}

.card-img-container {
	background-color: hsl(277, 64%, 61%);
	height: 18em;
	overflow: hidden;
}

.card-img-container img {
	mix-blend-mode: multiply;
	display: block;
	height: 100%;
}

.card-text {
	text-align: center;
	padding: 1.25em;
}

.card-text > p {
	font-family: 'Inter', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 400;
	line-height: 175%;
}

.stats-container {
	display: flex;
	flex-direction: column;
}

.stat {
	margin: .1em;
}

.stat-description {
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 400;
	margin-top: 10px;
}

.stat-number {
	font-size: 1.5rem;
	margin-bottom: 0;
}

@media screen and (min-width:  550px) {
	.card {
		display: flex;
		flex-direction: row-reverse;
		max-width: 1000px;
		height: 28em;
	}

	.stats-container {
		flex-direction: row;
		margin-top: 40px;
	}

	.stat {
		margin-right: 30px;
	}

	.card-child {
		flex-basis: 50%;
	}

	.card-text {
		text-align: left;
		padding: 3em;
		padding-right: 6em;
		box-sizing: border-box;
	}

	.card-img-container {
		height: 100%;
		min-height: 100%;
	}

}