body {
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

h1, h2 {
	font-family: 'Inter', sans-serif;
	color:  hsl(0, 0%, 100%);
	font-weight: 700;
}

#card {
	background-color: hsl(244, 38%, 16%);
	border-radius: 10px;
	box-shadow: 10px black;
	overflow: hidden;
	max-width: 350px;
}

#card-img-container {
	background-color: hsl(277, 64%, 61%);
	height: 225px;
	overflow: hidden;
}

#card-img-container img {
	object-fit: cover;
	mix-blend-mode: multiply;
}

#card-text {
	text-align: center;
	padding: 1.25em;
}

#card-text > p {
	font-family: 'Inter', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 400;
	line-height: 175%;
}

#card-stats {
	display: flex;
	flex-direction: column;
}

.stat {
	margin: .1em;
}

.stat > p {
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.6);
	font-weight: 400;
	margin-top: 10px;
}

.stat > h2 {
	margin-bottom: 0;
}

@media screen and (min-width:  550px) {
	#card {
		display: flex;
		flex-direction: row-reverse;
		height: 45%;
		max-width: 1000px;
	}

	#card-stats {
		flex-direction: row;
		margin-top: 40px;
	}

	.stat {
		margin-right: 30px;
	}

	#card-text {
		flex: 1 1 50%;
		text-align: left;
		padding: 3em;
		padding-right: 6em;
		box-sizing: border-box;
	}

	#card-img-container {
		flex: 1 1 50%;
		height: 100%;
		min-height: 100%;
		min-width: 50%;
	}

}